:root{
  --color-bg1: #921927;
  --color-bg2: #190f6c;
  --color1: 18,113,255;
  --color2: 221, 74, 255;
  --color3: 100,220,255;
  --color4: 200, 50, 50;
  --color5: 180,180,50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow:hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
 
}

.container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;  /* centers horizontally */
  align-items: center;
  
}

.todo-app {
  width: 80%;
  max-width: 545px;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  
  border-radius: 10px;
  padding: 40px 30px 70px;
  
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.3);

  backdrop-filter: blur(20px);
}

.todo-app h2{
  color: #dbe0f6;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.todo-app h2 img{
  width: 35px;
  margin-left: 10px;
}

.todo-app:hover{
  
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.5);

}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efe2e2;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input{
  flex:1;
  border: none;
  outline: none;
  background:transparent;
  padding: 10px;
}

button{
  border: none;
  outline: none;
  padding: 16px 50px;
  color: #fff;
  background-color: rgb(84, 29, 188);
  font-size: 16px;
  cursor: pointer;
  border-radius:0px 10px 10px 0px;
  transition: background-color 0.3s ease-in-out;
}

button:hover{
  background-color: rgb(59, 15, 142); 
}
ul li{
  list-style: none;
  font-size: 17px;
  padding:12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: white;
}

ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 16px;
}

ul li.checked{
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before{
  color: #666;
  background-image: url(images/checked.png);
  
}

ul li span{
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #efefef;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background: #f3f3f31A;
}

.bg-container{
  z-index:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  position:absolute;
  top:0;
  left:0;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  
}

@keyframes moveInCircle {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0%{
    transform: translateY(-50%);
  }
  50%{
    transform: translateY(50%);
  }
  100%{
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0%{
    transform:translateX(-50%) translateY(-10%);
  }
  50%{
    transform:translateX(50%) translateY(10%);
  }
  100%{
    transform:translateX(-50%) translateY(-10%);
  }
}


.gradients-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: url(#goo) blur(40px);
  width:100%;
  height: 100%;
}

.bubble1, .bubble2, .bubble3, .bubble4, .bubble5{
  position: absolute;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
}

.bubble1{
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1),0)50%) no-repeat;

  transform-origin: center center;
  animation: moveVertical 20s ease infinite;
  opacity: 1;
}

.bubble2{
  background: radial-gradient(circle at center, rgba(var(--color2),0.8)0, rgba(var(--color2),0)50%) no-repeat;
  
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  opacity: 1;
}

.bubble3{
  background: radial-gradient(circle at center, rgba(var(--color3),0.8)0, rgba(var(--color3),0)50%) no-repeat;
  
  top: calc(50% - var(--circle-size) / 2 + 100px);
  left: calc(50% - var(--circle-size) / 2 - 100px);

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 20s linear infinite;
  opacity: 1;
}

.bubble4{
  background: radial-gradient(circle at center, rgba(var(--color4),0.8)0, rgba(var(--color4),0)50%) no-repeat;

  transform-origin: calc(50% - 100px);
  animation: moveHorizontal 20s ease infinite;
  opacity: 0.7;
}

.bubble5{
  background: radial-gradient(circle at center, rgba(var(--color5),0.8)0, rgba(var(--color5),0)50%) no-repeat;
  width: calc(var(--circle-size)* 2);
  height: calc(var(--circle-size)* 2);

  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
  opacity: 1;
}



